@import url('https://fonts.google.com/specimen/Poppins');
/*--------------------*/
/*--Estilos generales--*/
/*--------------------*/
$pink: hsl(322, 100%, 66%);
$Very-Pale-Cyan: hsl(193, 100%, 96%);
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Grayish-Blue: hsl(208, 11%, 55%);

*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 18px;
  font-family: sans-serif;
}

/*--------------------*/
/*--Estilos del header--*/
/*--------------------*/

header{
  font-family: 'Poppins' sans-serif;
  background-image: url(../images/bg-hero-desktop.svg);
  background-size: cover;
  background-color: $Very-Pale-Cyan;
  height: 42em;
  width: 100%;
}

.navbar{
  display: flex;
}

.try-it-free{
  margin-left: 920px;
  margin-top: 20px;
  text-decoration: none;
  background-color: white;
  border-radius: 50px;
  width: 10em;
  height: 40px;
  text-align: center;
}

.text-nav{
  color: $Very-Dark-Cyan;
  font-size: 18px;
  margin-top: 10px;
}

.logo{
  margin: auto;
}